@page "/apps/{Id}"
@inject ILgTvClientController Controller

@if (_app == null)
{
    <h3>App</h3>

    <br />
    
    <p><em>Loading...</em></p>
}
else
{
    <img alt="@_app.Title Icon" style="background: @(!string.IsNullOrWhiteSpace(_app.IconColorHex) ? _app.IconColorHex : "#000000"); border: 1px solid black;" src="@_app.LargeIcon" />

    <h3 style="margin: 0.55rem 0">@_app.Title</h3>

    <button class="btn btn-primary" @onclick="() => Controller.Client.Apps.LaunchApp(_app.Id)">
        <span class="oi oi-share-boxed" aria-hidden="true"></span> Launch
    </button>
}

@code {
    private LgTv.Clients.Apps.App _app;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _app = await Controller.Client.Apps.GetApp(Id);
    }
}
