@page "/apps"
@inject ILgTvClientController Controller
@inject NavigationManager NavigationManager

<h3>Apps</h3>

<br />

@if (_apps == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <colgroup>
        <col style="width: 80px;">
        <col style="width: calc(100% - 80px);">
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in _apps)
        {
            <tr class="link" @onclick="() => NavigateToApp(app.Id)">
                <td style="text-align: center;">
                    <img style="background: @(!string.IsNullOrWhiteSpace(app.IconColorHex) ? app.IconColorHex : "#000000"); border: 1px solid black; width: 40px; height: 40px;" src="@app.Icon" />
                </td>
                <td>@app.Title</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private LgTv.Clients.Apps.App[] _apps;

    protected override async Task OnInitializedAsync()
    {
        _apps = (await Controller.Client.Apps.GetApps()).ToArray();
    }

    private void NavigateToApp(string appId)
    {
        NavigationManager.NavigateTo($"apps/{appId}");
    }
}
