@page "/audio"
@inject ILgTvClient Client

<h3>Audio</h3>

<br />

<p>
    <b>Output: </b>
    @if (_soundOutput == null)
    {
        <em>Loading...</em>
    }
    else
    {
        @_soundOutput
    }
</p>


<button class="btn btn-primary" @onclick="Client.Audio.VolumeUp" title="Increase Volume"><span class="oi oi-plus" aria-hidden="true"></span></button>

<br />
<br />

<button class="btn btn-primary" @onclick="Client.Audio.VolumeDown" title="Decrease Volume"><span class="oi oi-minus" aria-hidden="true"></span></button>

<br />
<br />

<button class="btn btn-primary" @onclick="ToggleMute" title="@(_isMuted ? "Unmute" : "Mute")"><span class="oi oi-volume-@(_isMuted ? "off" : "high")" aria-hidden="true"></span></button>

@code {
    private bool _isMuted;

    private string _soundOutput;

    protected override async Task OnInitializedAsync()
    {
        _isMuted = await Client.Audio.IsMuted();

        _soundOutput = await Client.Audio.GetOutput();
    }

    private async Task ToggleMute()
    {
        await Client.Audio.SetMute(!_isMuted);

        _isMuted = !_isMuted;
    }
}
