@page "/channels/{Id}"
@inject ILgTvClientController Controller

@if (_channel == null)
{
    <h3>Channel</h3>

    <br />

    <p><em>Loading...</em></p>
}
else
{
    <h3>@_channel.Name</h3>

    <br />

    <button class="btn btn-primary" @onclick="() => Controller.Client.Channels.SetChannel(_channel.Id)">Select</button>
}

@code {
    private LgTv.Clients.Channels.Channel _channel;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _channel = (await Controller.Client.Channels.GetChannels()).First(x => string.Equals(Id, x.Id, StringComparison.OrdinalIgnoreCase));
    }
}
