@page "/display"
@inject ILgTvClient Client

<h3>Display</h3>

<br />

<button class="btn btn-primary" @onclick="Client.Display.TurnOn3D">3D On</button>

<br />
<br />

<button class="btn btn-primary" @onclick="Client.Display.TurnOff3D">3D Off</button>
