@page "/"
@inject ILgTvClientController Controller

<h1>LG TV Controller - Sample Blazor App</h1>

<br />

@if (_app != null)
{
    <div class="card">
        <div class="card-header">
            <h5 style="margin-bottom: 0;">Activity</h5>
        </div>

        <div class="card-body" style="display: flex">
            <img alt="@_app.Title Icon" style="background: @(!string.IsNullOrWhiteSpace(_app.IconColorHex) ? _app.IconColorHex : "#000000"); border: 1px solid black; width: 40px; height: 40px;" src="@_app.Icon" />
            
            <div style="height: 40px; line-height: 40px; text-align: center; margin-left: 0.6rem">
                <span style="display: inline-block; vertical-align: middle; line-height: normal; font-size: 1.5rem">
                    @_app.Title
                </span>
            </div>
        </div>
        
        <div class="card-footer">
            <button class="btn btn-primary" @onclick="CloseCurrentApp">
                <span class="oi oi-plus" aria-hidden="true" style="transform: rotate(45deg)"></span> Close
            </button>
        </div>
    </div>
}

<br />

@code {
    private LgTv.Clients.Apps.App _app;

    protected override async Task OnInitializedAsync()
    {
        if (Controller.IsConnected)
        {
            await LoadCurrentApp();
        }
    }

    private async Task LoadCurrentApp()
    {
        _app = null;

        var foregroundAppInfo = await Controller.Client.Apps.GetForegroundAppInfo();

        if (foregroundAppInfo == null)
        {
            return;
        }

        _app = await Controller.Client.Apps.GetApp(foregroundAppInfo.AppId);
    }

    private async Task CloseCurrentApp()
    {
        if (_app == null)
        {
            return;
        }

        await Controller.Client.Apps.CloseApp(_app.Id);

        await LoadCurrentApp();
    }

}
