@page "/inputs"
@inject ILgTvClient Client
@inject NavigationManager NavigationManager

<h3>Inputs</h3>

<br />

@if (_inputs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <colgroup>
            <col style="width: 80px;">
            <col style="width: calc(100% - 300px);">
            <col style="width: 220px;">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Connected</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var input in _inputs)
            {
                <tr class="link" @onclick="() => NavigateToInput(input.Id)">
                    <td style="text-align: center;">
                        <img style="background: #D6DBDB; border: 1px solid black; width: 40px; height: 40px;" src="@input.Icon" />
                    </td>
                    <td>@input.Label</td>
                    <td>@(input.Connected ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LgTv.Clients.Inputs.Input[] _inputs;

    protected override async Task OnInitializedAsync()
    {
        _inputs = (await Client.Inputs.GetInputs()).ToArray();
    }

    private void NavigateToInput(string inputId)
    {
        NavigationManager.NavigateTo($"inputs/{inputId}");
    }
}
