@page "/keyboard"
@inject ILgTvClientController Controller

<h3>Keyboard</h3>

<br />

<textarea @bind="_text" placeholder="Text" style="width: 100%"></textarea>

<br />
<br />

<button class="btn btn-primary" @onclick="InsertText">Insert</button>

<button class="btn btn-primary" @onclick="DeleteCharacters">Delete</button>

<button class="btn btn-primary" @onclick="Controller.Client.Keyboard.SendEnterKey">Enter</button>

@code {
    private string _text;

    private async Task InsertText()
    {
        await Controller.Client.Keyboard.InsertText(_text);
    }

    private async Task DeleteCharacters()
    {
        await Controller.Client.Keyboard.DeleteCharacters();
    }
}
