@page "/power"
@inject ILgTvClientController Controller

<h3>Power</h3>

<br />

<button class="btn btn-primary" @onclick="Controller.Client.Power.TurnOff"><span class="oi oi-power-standby" aria-hidden="true"></span> Off</button>
