@page "/apps/{Id}"
@inject ILgTvClient Client

@if (_app == null)
{
    <h3>App</h3>

    <br />
    
    <p><em>Loading...</em></p>
}
else
{
    <h3>@_app.Title</h3>

    <br />

    <img style="background: @(!string.IsNullOrWhiteSpace(_app.IconColorHex) ? _app.IconColorHex : "#000000"); border: 1px solid black;" src="@_app.LargeIcon" />

    <br />
    <br />

    <button class="btn btn-primary" @onclick="() => Client.Apps.LaunchApp(_app.Id)"><span class="oi oi-share-boxed" aria-hidden="true"></span> Launch</button>
}

@code {
    private LgTv.Apps.App _app;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _app = (await Client.Apps.GetApps()).First(x => string.Equals(Id, x.Id, StringComparison.OrdinalIgnoreCase));
    }
}
