<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LG TV Controller</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="power">
                <span class="oi oi-power-standby" aria-hidden="true"></span> Power
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="audio">
                <span class="oi oi-volume-high" aria-hidden="true"></span> Audio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="display">
                <span class="oi oi-monitor" aria-hidden="true"></span> Display
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="playback">
                <span class="oi oi-media-play" aria-hidden="true"></span> Playback
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mouse">
                <span class="oi oi-move" aria-hidden="true"></span> Mouse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="channels">
                <span class="oi oi-list" aria-hidden="true"></span> Channels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inputs">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> Inputs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="apps">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Apps
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <span class="oi oi-comment-square" aria-hidden="true"></span> Notifications
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
