@page "/channels"
@inject ILgTvClient Client
@inject NavigationManager NavigationManager

<h3>Channels</h3>

<br />

<button class="btn btn-primary btn-arrow" @onclick="() => Client.Channels.ChannelUp()" title="Up"><span class="oi oi-caret-top" aria-hidden="true"></span></button>
<button class="btn btn-primary btn-arrow" @onclick="() => Client.Channels.ChannelDown()" title="Up"><span class="oi oi-caret-bottom" aria-hidden="true"></span></button>

<br />
<br />

@if (_channels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <colgroup>
            <col style="width: 120px;">
            <col style="width: calc(100% - 120px);">
        </colgroup>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var channel in _channels)
            {
                <tr class="link" @onclick="() => NavigateToChannel(channel.Id)">
                    <td>@channel.Number</td>
                    <td>@channel.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LgTv.Channels.Channel[] _channels;

    protected override async Task OnInitializedAsync()
    {
        _channels = (await Client.Channels.GetChannels()).ToArray();
    }

    private void NavigateToChannel(string channelId)
    {
        NavigationManager.NavigateTo($"channel/{channelId}");
    }
}
