@page "/inputs/{Id}"
@inject ILgTvClient Client

@if (_input == null)
{
    <h3>Input</h3>

    <br />

    <p><em>Loading...</em></p>
}
else
{
    <h3>@_input.Label</h3>

    <br />

    <img style="background: #D6DBDB; border: 1px solid black;" src="@_input.Icon" />

    <br />
    <br />

    <p>@(_input.Connected ? "Connected" : "Not connected")</p>

    <button class="btn btn-primary" @onclick="() => Client.Inputs.SetInput(_input.Id)">Select</button>
}

@code {
    private LgTv.Inputs.Input _input;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _input = (await Client.Inputs.GetInputs()).First(x => string.Equals(Id, x.Id, StringComparison.OrdinalIgnoreCase));
    }
}
