@page "/mouse"
@implements IDisposable
@inject ILgTvClient Client

<h3>Mouse</h3>

<br />

<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Ok)">OK</button>
<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Back)">Back</button>

<br />
<br />

<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Up)"><span class="oi oi-caret-top" aria-hidden="true"></span></button>
<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Down)"><span class="oi oi-caret-bottom" aria-hidden="true"></span></button>
<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Left)"><span class="oi oi-caret-left" aria-hidden="true"></span></button>
<button class="btn btn-primary" @onclick="() => SendButtonCommand(ButtonType.Right)"><span class="oi oi-caret-right" aria-hidden="true"></span></button>

@code {
    private ILgWebOsMouseClient _mouse;

    protected override async Task OnInitializedAsync()
    {
        _mouse = await Client.GetMouse();
    }

    private async Task SendButtonCommand(string buttonName)
    {
        await _mouse.SendButton(buttonName);
    }


    public void Dispose()
    {
        _mouse?.Dispose();
    }
}
