@page "/power"
@inject ILgTvClient Client

<h3>Power</h3>

<br />

<button class="btn btn-primary" @onclick="Client.Power.TurnOff"><span class="oi oi-power-standby" aria-hidden="true"></span> Off</button>
