@page "/volume"
@inject ILgTvClient Client

<h3>Volume</h3>

<br />

<button class="btn btn-primary" @onclick="VolumeUp">Up</button>
<button class="btn btn-primary" @onclick="VolumeDown">Down</button>

@code {
    private async Task VolumeUp()
    {
        await Client.Volume.VolumeUp();
    }

    private async Task VolumeDown()
    {
        await Client.Volume.VolumeDown();
    }
}
