@inherits LayoutComponentBase
@inject ILgTvClientController Controller
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar" style="overflow: auto">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        if (Controller.IsConnected)
        {
            return;
        }

        NavigationManager.NavigateTo("connection");
    }
}
